@font-face {
font-family: 'BEBAS';
src: url(Assets/BEBAS.ttf);

}


@font-face {
font-family: 'Futura';
src: url(Assets/futuraMedium.ttf);

}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

















body{
  margin: 0;
  background-color: #F5F2EF;
  overflow-x: hidden;
/* height: 700px; */
}

#nav{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  margin-top: 200px;
  /* background-color: red; */
}

#nav ul{
  list-style: none;
  margin-top: 80px;
  padding-left: 80px;

}

#nav li{
  display: inline-block;
  width: 18%;
  margin-left: 1%;

}

#nav li:hover{
  opacity: 0.9;
}

.navIcon{
  position: relative;
  top: 50px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: red; */
}

.icon1{
  position: relative;
  top: 50px;
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Icontwo{
  position: relative;
  top: -40px;
  background-image: url("Assets/EmergencyClicked.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Iconthree {
  position: relative;
  top: -20px;
  background-image: url("Assets/ResourcesButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Icon {
  position: relative;
  top: -90px;
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}


.titleDiv{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  z-index: -200;

}




.title{
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  height: 100px;
  margin-top: -400px;
  margin-left: 20px;
  padding-left: 50px;
  transform: rotate(2deg);
  z-index: -100;
  /* background-color: red; */
}



.BigTitle{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-11deg);
  word-spacing: 7px;
  font-size: 2rem;
  margin-left: 220px;
  margin-top: -150px;
  height: 300px;
  /* background-color: red; */

}

.titleImg{
  margin-top: -230px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  z-index: -400;

}


.armLeft{
  position: absolute;
  left:-3px;
  top: 530px;
  z-index: 1000;
}


.fnc{
  position: relative;
  left: 200px;
  top: 100px;
  z-index: ;
}

.armLeft2 {
  position: absolute;
  left:-3px;
  top: 560px;
  z-index: 1000;
}


.armRight{
  position: absolute;
  right: 0px;
  top: 630px;
}


.armRight2{
  position: absolute;
  right:-3px;
  top: 1330px;
  z-index: 1000;
}

.alarm{
  position: absolute;
  left: 300px;
  top: 1930px;
  z-index: 1000;
}


.waterdrops{
  position: absolute;
  right:360px;
  top: 1470px;
  z-index: 1000;
}

.waterdrop1{
  position: absolute;
  right:460px;
  top: 1500px;
  z-index: 1000;
  transform: rotate(-20deg);
}

.waterdrop2{
  position: absolute;
  right:360px;
  top: 1530px;
  z-index: 1000;
  transform: rotate(10deg);
}




.SeagulRight1{
  position: absolute;
  right:-3px;
  top: 90px;
  z-index: 1000;
}


.SeagulLeft1{
  position: absolute;
  left:-3px;
  top: 1390px;
  z-index: 1000;
}




.chip1{
  position: absolute;
  left: 250px;
  top: 660px;

}

.chip2{
  position: absolute;
  right: 234px;
  top: 710px;
  /* transform: rotate(40deg); */

}


.chip3{
  position: absolute;
  right: -4px;
  top: 100px;
  /* transform: rotate(35deg); */

}

.chip4{
  position: absolute;
  right: 20vw;
  top: 650px;
  /* transform: rotate(75deg); */

}

.chip5{
  position: absolute;
  left: 20vw;
  top: 840px;
  transform: rotate(15deg);

}



.chip6{
  position: absolute;
  left: 30vw;
  top: 810px;
  transform: rotate(15deg);

}


.chip7{
  position: absolute;
  left:65vw;
  top: 730px;
  /* transform: rotate(15deg); */

}


.chip8{
  position: absolute;
  left:55vw;
  top: 930px;
  /* transform: rotate(15deg); */

}

.chip9{
  position: absolute;
  left:75vw;
  top: 930px;
  /* transform: rotate(15deg); */

}


.chip10{
  position: absolute;
  left:85vw;
  top: 890px;
  /* transform: rotate(15deg); */

}


.chip11{
  position: absolute;
  left:80vw;
  top: 1130px;
  /* transform: rotate(15deg); */

}


.chip12{
  position: absolute;
  left:5vw;
  top: 1030px;
  /* transform: rotate(15deg); */

}


.chip13{
  position: absolute;
  left:5vw;
  top: 130px;
  /* transform: rotate(15deg); */

}


.chip14{
  position: absolute;
  left:5vw;
  top: 1330px;
  /* transform: rotate(15deg); */

}

.chip15{
  position: absolute;
  left:10vw;
  top: 1430px;
  /* transform: rotate(15deg); */

}


.chip16{
  position: absolute;
  left:35vw;
  top: 1530px;
  /* transform: rotate(15deg); */

}


.chip17{
  position: absolute;
  left:85vw;
  top: 1630px;
  /* transform: rotate(15deg); */

}

.chip18{
  position: absolute;
  left:75vw;
  top: 1690px;
  /* transform: rotate(15deg); */

}

.chip19{
  position: absolute;
  left:87vw;
  top: 1890px;
  /* transform: rotate(15deg); */

}


.chip20{
  position: absolute;
  left:67vw;
  top: 2070px;
  /* transform: rotate(15deg); */

}

.chip21{
  position: absolute;
  left:7vw;
  top: 2090px;
  /* transform: rotate(15deg); */

}

.chip22{
  position: absolute;
  right: 260px;
  top: 2560px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  /* transform: rotate(15deg); */

}






/* Lemons */

.lemon1{
  position: absolute;
  left: 15vw;
  top: 360px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(15deg);

}

.lemon2{
  position: absolute;
  right: 15vw;
  top: 560px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(-15deg);

}


.lemon3{
  position: absolute;
  left: 20vw;
  top: 1260px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(65deg);

}



.lemon4{
  position: absolute;
  right: 17vw;
  top: 1740px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(65deg);

}





/* Sauce */

.sauce{
  position: absolute;
  left:45vw;
  top: -260px;
  /* transform: rotate(15deg); */

}


.sauce2{
  position: absolute;
  left:-290px;
  top: 160px;
  /* transform: rotate(15deg); */

}

.sauce3{
  position: absolute;
  right:-240px;
  top: 1660px;
  transform: rotate(-230deg);
}

.sauce4{
  position: absolute;
  left: 290px;
  top: 2300px;
  /* transform: rotate(15deg); */
}

.sauce6{
  position: absolute;
  left: -280px;
  top: 1900px;
  /* transform: rotate(15deg); */
}



.text{
  width: 500px;
  height: 400px;
  margin-top: -100px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  160px;
  line-height: 15px;
  padding-left: 20px;
}

.text h1{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);
  word-spacing: 7px;
}

.text p{
font-family: 'Futura';
  /* font-style: italic; */
  color: #bb3b2e;
  transform: skew( -5deg, -7deg) rotate(-3deg);
    padding-left: 5px;
}



.text2{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  690px;
  margin-top: 100px;
  line-height: 15px;

}

.text2 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);

}

.text2 p{
font-family: 'Futura';
  /* font-style: italic; */
  color: #bb3b2e;
  transform: skew( -5deg, -7deg) rotate(-3deg);
   padding-left: 5px;

}

.map{
  position: relative;
  left: 360px;
  top: -250px;
  z-index: -100;
}

.hereBTN{
  margin-left: 10px;
  margin-top: 20px;
}

.infoButton{
  position: relative;
  top: 130px;
  left: 100px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(-0deg);

}


.infoButton2{
  position: relative;
  top: 130px;
  left: 200px;
  background-image: url("Assets/moreInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(0deg);

}

.SocialIcons
{
max-width: 130px;
/* background-color: red; */
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.SocialIcons a:hover{
  opacity: 0.8;

}


.info{
  max-width: 1200px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;

}


.text3{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-top: -300px;
  /* margin-left:  690px; */

}

.text3 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);

}
