@font-face {
font-family: 'BEBAS';
src: url(Assets/BEBAS.ttf);

}





@font-face {
font-family: 'MavenRegular';
src: url(static/MavenPro-Regular.ttf);

}


@font-face {
font-family: 'Futura';
src: url(Assets/futuraMedium.ttf);

}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}










.pine{
  position: absolute;
  right: 35vw;
  top: 400px;
}


.HotDog{
  position: absolute;
  right: 35vw;
  top: 370px;
  transform: rotate(-10deg);
  /* display: none; */
}





body{
  margin: 0;
  background-color: #F5F2EF;
  overflow-x: hidden;
/* height: 700px; */
}

#nav{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  margin-top: 200px;
  /* background-color: red; */
}

#nav ul{
  list-style: none;
  margin-top: 80px;
  padding-left: 80px;

}

#nav li{
  display: inline-block;
  width: 18%;
  margin-left: 1%;

}

#nav li:hover{
  opacity: 0.9;
  z-index: 1000;
}

.navIcon{
  position: relative;
  top: 50px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: red; */
  z-index: 1000;

}

.icon1{
  position: relative;
  top: 50px;
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
    z-index: 1000;
}

.Icontwo{
  position: relative;
  top: -40px;
  background-image: url("Assets/EmergencyButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1000;
}

.Iconthree {
  position: relative;
  top: -20px;
  background-image: url("Assets/ResourcesButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Icon {
  position: relative;
  top: -90px;
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1000;
}



.titleDiv{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  z-index: -200;

}




.title{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;

  /* height: 250px; */
  margin-top: -400px;
  margin-left: 20px;
  padding-left: 50px;
  transform: rotate(2deg);
  z-index: -1000;
  /* background-color: red; */
}



.BigTitle{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-11deg);
  word-spacing: 7px;
  font-size: 2rem;
  margin-left: 220px;
  margin-top: -250px;
  height: 500px;

}

.titleImg{
  margin-top: -230px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;

}


.armLeft{
  position: absolute;
  left:-3px;
  top: 530px;
  z-index: 1000;
}


.fnc{
  position: relative;
  left: -100px;
  top: 100px;
  z-index: 2000;
}

.armLeft2 {
  position: absolute;
  left:-3px;
  top: 2260px;
  z-index: 1000;
  width: 100px;
  display: none;
}


.armRight{
  position: absolute;
  right: 0px;
  top: 330px;
  z-index: 1200;
}


.armRight2{
  position: absolute;
  right:-3px;
  top: 2330px;
  z-index: 1000;
}

.chip1{
  position: absolute;
  left: 250px;
  top: 660px;

}

.chip2{
  position: absolute;
  right: 234px;
  top: 710px;
  /* transform: rotate(40deg); */

}


.chip3{
  position: absolute;
  right: -4px;
  top: 100px;
  /* transform: rotate(35deg); */

}

.chip4{
  position: absolute;
  right: 33vw;
  top: 390px;
  /* display: none; */
  /* transform: rotate(75deg); */

}

.chip5{
  position: absolute;
  right: 43vw;
  top: 380px;
  transform: rotate(-15deg);

}

.paper{
  position: absolute;
  right: 33vw;
  z-index: -1000;
  top: 390px;
  transform: rotate(-25deg);

}


.sauce9{
  position: absolute;
  right: 33vw;
  top: 410px;
  z-index: 1000;
}


.chip6{
  position: absolute;
  left: 30vw;
  top: 810px;
  transform: rotate(15deg);

}


.chip7{
  position: absolute;
  left:65vw;
  top: 730px;
  /* transform: rotate(15deg); */

}


.chip8{
  position: absolute;
  left:55vw;
  top: 930px;
  /* transform: rotate(15deg); */

}

.chip9{
  position: absolute;
  left:75vw;
  top: 930px;
  /* transform: rotate(15deg); */

}


.chip10{
  position: absolute;
  left:85vw;
  top: 890px;
  /* transform: rotate(15deg); */

}


.chip11{
  position: absolute;
  left:80vw;
  top: 1130px;
  /* transform: rotate(15deg); */

}


.chip12{
  position: absolute;
  left:5vw;
  top: 1030px;
  /* transform: rotate(15deg); */

}


.chip13{
  position: absolute;
  left:5vw;
  top: 130px;
  /* transform: rotate(15deg); */

}


.chip14{
  position: absolute;
  left:5vw;
  top: 1330px;
  /* transform: rotate(15deg); */

}

.chip15{
  position: absolute;
  left:1vw;
  top: 1430px;
  /* transform: rotate(15deg); */

}


.chip16{
  position: absolute;
  left:35vw;
  top: 1530px;
  /* transform: rotate(15deg); */

}


.chip17{
  position: absolute;
  left:85vw;
  top: 1630px;
  /* transform: rotate(15deg); */

}

.chip18{
  position: absolute;
  left:75vw;
  top: 1690px;
  /* transform: rotate(15deg); */

}

.chip19{
  position: absolute;
  left:87vw;
  top: 1890px;
  /* transform: rotate(15deg); */

}


.chip20{
  position: absolute;
  left:67vw;
  top: 2070px;
  /* transform: rotate(15deg); */

}

.chip21{
  position: absolute;
  left:7vw;
  top: 2090px;
  /* transform: rotate(15deg); */

}

.chip22{
  position: absolute;
  left:75vw;
  top: 2560px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  /* transform: rotate(15deg); */

}












/* Sauce */

.sauce{
  position: absolute;
  left:45vw;
  top: -260px;
  /* transform: rotate(15deg); */

}


.sauce2{
  position: absolute;
  left:-290px;
  top: 160px;
  /* transform: rotate(15deg); */

}

.sauce3{
  position: absolute;
  right:-170px;
  top: 1260px;
  transform: rotate(75deg);
}

.sauce4{
  position: absolute;
  left: 290px;
  top: 2700px;
  /* transform: rotate(15deg); */
}



.text{
  width: 500px;
  height: 200px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  10px;
  line-height: 15px;
}

.text h1{
  font-family: 'BEBAS', sans-serif;
  /* font-style: italic; */
  color: #bb3b2e;
transform: skew( 0deg, -10deg) rotate(0deg);
  word-spacing: 7px;
  /* margin-left: 300px; */
}

.text p{
  font-family: 'Futura', sans-serif;
  font-style: italic;
  color: #bb3b2e;
    transform: skew( 0deg, -10deg) rotate(0deg);
  /* padding-left: 5px; */
}



.text2{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  690px;
  margin-top: 100px;
  line-height: 15px;

}

.text2 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  /* font-style: italic; */
  color: #bb3b2e;
transform: skew( 0deg, -10deg) rotate(0deg);

}

.text2 p{

  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);
  padding-left: 5px;
}


.map{
  position: relative;
  left: 360px;
  top: -250px;
  z-index: -100;
}



.hereBTN{
  margin-left: 10px;
  margin-top: 20px;
}



.infoButton{
  position: relative;
  top: 130px;
  left: 100px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(-0deg);

}


.infoButton2{
  position: relative;
  top: 130px;
  left: 200px;
  background-image: url("Assets/moreInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(0deg);

}

.SocialIcons
{
max-width: 130px;
/* background-color: red; */
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.SocialIcons a:hover{
  opacity: 0.8;

}


.info{
  max-width: 1200px;

  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;

}


.text3{
  width: 500px;
  height: 400px;
  /* background-color: red; */

  margin-left: auto;
  margin-right: auto;
  margin-top: 1600px;
  /* margin-left:  690px; */

}

.text3 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);

}





.button_group{
  margin-left: -50px;
}

#subtract{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;

  z-index: 4000;

  /* background-color: red; */
      width: 35px;
  margin-left: 120px;
  border: none;
  outline:none;
  background-color: #F5F2EF;
}

#add{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  width: 35px;
  margin-left: 40px;
  border: none;
  outline:none;
  margin-top: -20px;
  /* background-color: green; */
  background-color:  #F5F2EF;
}

/* #counter{
  font-family: 'BEBAS', sans-serif;
  font-size: 3rem;
  float: left;
  color: #bb3b2e;
  margin-left: 50px;
} */

/* #reset{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  float: left;
  width: 50px;
  margin-top: -10px;
  margin-left: 50px;
  transform: rotate(-7deg);
  color: #bb3b2e;
  border: none;
  outline:none;
  background-color: #F5F2EF;
} */


.button_group{
  position: relative;
  top: -90px;
  left: 200px;
  width: 900px;
z-index: 9000;
}






#subtractTwo{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;

  z-index: 4000;
  /* background-color: red; */
  width: 35px;
margin-left: 120px;
  border: none;
  outline:none;
  background-color: #F5F2EF;
}

#addTwo{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  width: 40px;
  margin-left: 40px;
  border: none;
  outline:none;
  margin-top: -20px;
  background-color: #F5F2EF;
}

/* #counterTwo{
  font-family: 'BEBAS', sans-serif;
  font-size: 3rem;
  float: left;
  color: #bb3b2e;
  margin-left: 50px;
} */

/* #resetTwo{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  float: left;
  width: 50px;
  margin-top: -10px;
  margin-left: 50px;
    transform: rotate(-7deg);
    color: #bb3b2e;
  border: none;
  outline:none;
  background-color: #F5F2EF;
} */




#subtractThree{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;

  z-index: 4000;
  /* background-color: red; */
  width: 35px;
margin-left: 120px;
  border: none;
  outline:none;
  background-color: #F5F2EF;
}

#addThree{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  width: 40px;
  margin-left: 40px;
  border: none;
  outline:none;
  margin-top: -20px;
  background-color: #F5F2EF;
}

/* #counterThree{
  font-family: 'BEBAS', sans-serif;

  font-size: 3rem;
  float: left;
  color: #bb3b2e;

  margin-left: 50px;
} */

/* #resetThree{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  float: left;
  width: 50px;
  margin-top: -10px;
  margin-left: 50px;
  transform: rotate(-7deg);
  color: #bb3b2e;
  border: none;
  outline:none;
  background-color: #F5F2EF;
} */








#subtractFOUR{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;

  z-index: 4000;
  width: 35px;
  margin-left: 120px;
  border: none;
  outline:none;
  background-color: #F5F2EF;
}

#addFOUR{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  width: 40px;
  margin-left: 40px;
  border: none;
  outline:none;
  margin-top: -20px;
  background-color: #F5F2EF;
}

/* #counterFOUR{
  font-family: 'BEBAS', sans-serif;

  font-size: 3rem;
  float: left;
  color: #bb3b2e;

  margin-left: 50px;
} */

/* #resetFOUR{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  float: left;
  width: 50px;
  margin-top: -10px;
  margin-left: 50px;
  transform: rotate(-7deg);
  color: #bb3b2e;
  border: none;
  outline:none;
  background-color: #F5F2EF;
} */






#subtractFIVE{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;

  z-index: 4000;
  width: 35px;
margin-left: 120px;
  border: none;
  outline:none;
  background-color: #F5F2EF;
}

#addFIVE{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  width: 40px;
  margin-left: 40px;
  border: none;
  outline:none;
  margin-top: -20px;
  background-color: #F5F2EF;
}

/* #counterFIVE{
  font-family: 'BEBAS', sans-serif;
  font-size: 3rem;
  float: left;
  color: #bb3b2e;
  margin-left: 50px;
} */

/* #resetFIVE{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  float: left;
  width: 50px;
  margin-top: -10px;
  margin-left: 50px;
    transform: rotate(-7deg);
    color: #bb3b2e;
  border: none;
  outline:none;
  background-color: #F5F2EF;
} */






#subtractSIX{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;

  z-index: 4000;
  width: 35px;
  margin-left: 120px;
  border: none;
  outline:none;
  background-color: #F5F2EF;
}

#addSIX{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  width: 40px;
  margin-left: 40px;
  border: none;
  outline:none;
  margin-top: -20px;
  background-color: #F5F2EF;
}

/* #counterSIX{
  font-family: 'BEBAS', sans-serif;
  font-size: 3rem;
  float: left;
  color: #bb3b2e;
  margin-left: 50px;
} */

/* #resetSIX{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  float: left;
  width: 50px;
  margin-top: -10px;
  margin-left: 50px;
    transform: rotate(-7deg);
    color: #bb3b2e;
  border: none;
  outline:none;
  background-color: #F5F2EF;
} */


#subtractSEVEN{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;

  z-index: 4000;
  width: 35px;
  margin-left: 120px;
  border: none;
  outline:none;
  background-color: #F5F2EF;
}

#addSEVEN{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  width: 40px;
  margin-left: 40px;
  border: none;
  outline:none;
  margin-top: -20px;
  background-color: #F5F2EF;
}

#counterSEVEN, #counterSIX, #counterFIVE, #counterFOUR, #counterThree, #counterTwo, #counter, #counterEIGHT{
  font-family: 'BEBAS', sans-serif;
  /* font-style: italic; */
  font-size: 3rem;
  float: left;
  color: #bb3b2e;
  width: 30px;
  /* background-color: green; */
  margin-left: 50px;
}

#resetSEVEN, #resetEIGHT, #resetSIX, #resetFIVE, #resetFOUR, #resetThree, #resetTwo, #reset{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  /* float: left; */
  background-color: red;
  width: 50px;
  margin-top: -10px;
  /* margin-left: 0px; */
    transform: rotate(-7deg);
    color: #bb3b2e;
  border: none;
  outline:none;
  background-color: #F5F2EF;
  position: relative;
  left: -190px;
  top: 60px;
}




#subtractEIGHT{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  z-index: 4000;
  width: 35px;
  margin-left: 120px;
  border: none;
  outline:none;
  background-color: #F5F2EF;
}

#addEIGHT{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 1rem;
  float: left;
  width: 40px;
  margin-left: 40px;
  border: none;
  outline:none;
  margin-top: -20px;
  background-color: #F5F2EF;
}

/* #counterEIGHT{
  font-family: 'BEBAS', sans-serif;
  font-size: 3rem;
  float: left;
  color: #bb3b2e;
  margin-left: 50px;
} */



/* #resetEIGHT{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  font-size: 0.7rem;
  float: left;
  width: 50px;
  margin-top: -10px;
  margin-left: 50px;
    transform: rotate(-7deg);
    color: #bb3b2e;
  border: none;
  outline:none;
  background-color: #F5F2EF;
} */


.left{
  margin-left: -50px;
  /* background-color: blue; */
  margin-top: -50px;
  width: 40%;
  float: left;
}

.right{
  float: left;
  /* background-color: red; */
    margin-top: -50px;
  width: 40%;
  height: 1600px;
  margin-left: 150px;
}

form{
  position: absolute;
  left: 20vw;
  top: 1800px;
  margin-left: auto;
  margin-right: auto;
  width: 850px;


}


form p{
  font-family: 'MavenRegular', sans-serif;
  color: #bb3b2e;
  font-style: italic;
  transform: rotate(-7deg);
  margin-bottom: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  /* background-color: blue; */
}

form input{
  width: 300px;
}


#FirstName{
  border-radius: 10px;
  border: 2px solid red;
  background-color: #F5F2EF;
  height: 30px;
  outline:none;

}

#LastName{
  border-radius: 10px;
  border: 2px solid red;
  background-color: #F5F2EF;
  height: 30px;
  outline:none;
}



.SB{
  height: 90px;
  background-repeat: no-repeat;
  /* background-color: red; */
  background-image: url('Assets/submit.png');
  background-size: 100%;
  width: 150px;
  cursor: default;
    outline:none;
    background-color: #F5F2EF;
      border: none;
}


.SB:hover{
  opacity: 0.8;
}

.nav2{
  z-index: 9000;
}


#hamburger{
  position: absolute;
  left: 30px;
  top: 3px;
  /* background-color: red; */
}


#navButtons2{
  width: 100%;
  background-color: #F5F2EF;
  height: 500px;
  position: absolute;
  top: -600px;
  y: 0;
  box-shadow: 5px 10px 50px #888888;

}

.n{

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#CrossB2{
  background-image: url("Assets/cross.png");
  width: 30px;
  height: 30px;
  background-size: 100%;
  position: absolute;
  left: 30px;
  top: 3px;

}

#AboutB2{
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
    height: 65px;
  background-repeat: no-repeat;
}


#EventsB2{
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;

  height: 65px;
  background-repeat: no-repeat;
}

#EmergencyB2{
  background-image: url("Assets/EmergencyButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}


#ResoursesB2{
  background-image: url("Assets/ResourcesButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}


#ContactB2{
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}




.chip22{
  display: none;
}





@media only screen and (max-width: 1300px){




.info{
  /* background-color: blue; */
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

}


.chip20{
  transform: rotate(-90px);
  display: none;
}

.chip1{
  width: 70px;
  left: 95vw;
}

.chip14{
  width: 70px;
  left: 10px;
}


.chip15{
  width: 80px;
  left: 20px;
}



.chip16{
  width: 75px;
  left: 40px;
  top: 1730px;
}


.chip21{
  left: 5px;
  width: 100px;
}


.chip18{
  top: 1050px;
  left: 85vw;
}

.armRight2{
  width: 300px;
}



.BigTitle{
  margin-left: 50px;
}


.armLeft2{
  width: 470px;
}

.left{
  width: 80%;
  margin-top: -50px;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.right{
    margin-top: -50px;
  float: none;
    width: 80%;
  margin-left: 0px;
  margin-left: auto;
  margin-right: auto;

}




form{
  margin-top: 700px;
  left: 34vw;

}

.text3{
  margin-top: 650px;
}



}


@media only screen and (max-width: 1070px){

.armRight2{
  position: absolute;
  right: -50px;
  width: 250px;
  top: 1700px;
}

.waterdrops{
  position: absolute;
  right: 260px;
}

.waterdrop1{
  position: absolute;
  right: 370px;
}

.waterdrop2{
  position: absolute;
  right: 270px;
}




}


@media only screen and (max-width: 950px){

.text2{
  margin-left: 400px;

}

.alarm{
  left: 150px;
}

}







@media only screen and (max-width: 940px){




















}






@media only screen and (max-width: 900px){

#nav{
  opacity: 0;

}


.sauce6{
  position: absolute;
  left: -360px;
  top: 1300px;

}




.chip4{
  position: absolute;
  right: 33vw;
  top: 190px;
  /* display: none; */
  /* transform: rotate(75deg); */

}

.chip5{
  position: absolute;
  right: 43vw;
  top: 180px;
  transform: rotate(-15deg);

}

.paper{
  position: absolute;
  right: 33vw;
  z-index: -1000;
  top: 190px;
  transform: rotate(-25deg);

}


.sauce9{
  position: absolute;
  right: 33vw;
  top: 210px;
  z-index: 1000;
}


.pine{
  top: 200px;
}



}







@media only screen and (max-width: 920px){


/* .title{
  width: 70%;

  margin-left: auto;
  margin-right: auto;

}

.title img{
  width: 100%;

} */






}





@media only screen and (max-width: 900px){


#nav {
opacity: 0;
}


.text{
  max-width: 900px;
}





.sauce{
position: absolute;
left: -180px;












}


@media only screen and (max-width: 850px){

  .armRight2{
    display: none;
  }


.chip19{
  width: 60px;
}


.chip17{
  width: 60px;
}





.chip4{
  position: absolute;
  right: 13vw;
  top: 140px;
  /* width:  */
  /* display: none; */
  /* transform: rotate(75deg); */

}

.chip5{
  position: absolute;
  right: 23vw;
  top: 180px;
  transform: rotate(-15deg);

}

.paper{
  position: absolute;
  right: 13vw;
  z-index: -1000;
  top: 190px;
  transform: rotate(-25deg);

}


.sauce9{
  position: absolute;
  right: 13vw;
  top: 210px;
  z-index: 1000;
}


.pine{
  top: 200px;
  width: 100px;
  right: 15vw;
}

.armRight{
  width: 280px;
}

.HotDog{
  width: 160px;
  right: 20vw;
}




}


@media only screen and (max-width: 760px){



  .chip19{
    width: 60px;
    left: 100vw;
    padding-left: 100px;
    display: none;
  }


  .chip17{
    width: 60px;
    display: none;
  }


.sauce2{
  position: absolute;
  width: 400px;
  left: 600px;
  transform: rotate(120deg);
}

.text2{
  /* background-color: blue; */
  height: 650px;
}





.armRight2{
  position: absolute;
  right: -250px;
  top: 1360px;

}

.waterdrops{
  position: absolute;
  right: 110px;
  top: 1470px;
}

.waterdrop1{
  position: absolute;
  right: 220px;
  top: 1440px;
}

.waterdrop2{
  position: absolute;
  right: 110px;
  top: 1440px;
}

.alarm{
  top: 2230px;

}

.sauce3{

width: 300px;
}

/* .text3{
  margin-top: -600px;
} */

}




@media only screen and (max-width: 730px){


  .sauce3{
    top: 1160px;
  width: 300px;
  right: -190px;
  }

  .text3{

    /* background-color: blue; */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .BigTitle{
    font-family: 'BEBAS', sans-serif;
    font-style: italic;
    color: #bb3b2e;
    transform: rotate(-11deg);
    word-spacing: 7px;
    font-size: 1.5rem;
    margin-left: 60px;
    margin-top: -320px;
    height: 500px;

  }





}




@media only screen and (max-width: 680px){


.button_group{

position: relative;
left: -70px;
top: 50px;


}


.text {
  height: 270px;
}



form{
margin-top: 1200px;
left: 20vw;
}



.chip4{
  position: absolute;
  right: 13vw;
  top: 440px;
  /* width:  */
  /* display: none; */
  /* transform: rotate(75deg); */

}

.chip5{
  position: absolute;
  right: 23vw;
  top: 480px;
  transform: rotate(-15deg);

}

.paper{
  position: absolute;
  right: 13vw;
  z-index: -1000;
  top: 490px;
  transform: rotate(-25deg);

}


.sauce9{
  position: absolute;
  right: 13vw;
  top: 510px;
  z-index: 1000;
}


.pine{
  top: 400px;
  width: 100px;
  right: 15vw;
}

.armRight{
  width: 280px;
  top: 400px;
}

.HotDog{
  width: 160px;
  right: 20vw;
  top: 400px;
}


}




@media only screen and (max-width: 550px){

.text, .text2{
  /* background-color: green; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}




}



@media only screen and (max-width: 500px){

  .alarm{
    top: 2530px;
    width: 200px;
  }



form{
  left: 10vw;
}




}



@media only screen and (max-width: 430px){

  .titleDiv{

    margin-left: -70px;
  }

  .title{
    padding-top: 50px;
    /* background-color: green; */

    width: 70%;
    margin-left: auto;
    margin-right: auto;

  }

  .title img{
    margin-left: auto;
    margin-right: auto;

    width: 100%;

  }


.alarm{
  top: 3100px;
  left: 90px;
}

.chip15{
left: 1px;
width: 50px;
}

}


@media only screen and (max-width: 400px){



#FirstName{
  width: 230px;
}

#LastName {
    width: 230px;
}
  /* .text {
    margin-top: 190px;
  } */


form{
  padding-left: 30px;
}

}


@media only screen and (max-width: 375px){




}





@media only screen and (max-width: 430px){




.titleDiv{
  /* background-color: green; */
  margin-left: -70px;
}

.title{
  padding-top: 50px;
  /* padding-left: 50px; */

  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.title img{
  margin-left: auto;
  margin-right: auto;

  max-width: 100%;
  /* background-color: blue; */
}


.sauce2{
  display: none;
}

.chip15{
  position: absolute;
  top: 1500px;
}

.armRight{
  width: 300px;
  top: 450px;
}




}



@media only screen and (max-width: 400px){
  /* .info{
    max-width: 95%; */
    /* background-color: green; */
  /* } */


}
