@font-face {
font-family: 'BEBAS';
src: url(Assets/BEBAS.ttf);

}



@font-face {
font-family: 'Futura';
src: url(Assets/futuraMedium.ttf);

}


@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}









.tit1{
  display: none;

}

.tit4{
  display: none;

}


html{
    overflow-x: hidden;
}



body{
  margin: 0;
  background-color: #F5F2EF;
  overflow-x: hidden;
/* height: 700px; */
}

#nav{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  margin-top: 200px;
  /* background-color: red; */
}

#nav ul{
  list-style: none;
  margin-top: 80px;
  padding-left: 80px;

}

#nav li{
  display: inline-block;
  width: 18%;
  margin-left: 1%;

}

#nav li:hover{
  opacity: 0.9;
  z-index: 1000;
}

.navIcon{
  position: relative;
  top: 50px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: red; */
  z-index: 1000;

}

.icon1{
  position: relative;
  top: 50px;
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
    z-index: 1000;
}

.Icontwo{
  position: relative;
  top: -40px;
  background-image: url("Assets/EmergencyButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1000;
}

.Iconthree {
  position: relative;
  top: -20px;
  background-image: url("Assets/Resources.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Icon {
  position: relative;
  top: -90px;
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1000;
}


.titleDiv{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  z-index: -200;
}



#button6{
  background-image: url('Assets/hereButton.png');
  width: 130px;
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  margin-top: 40px;
  /* background-color: green; */
}


#button7{
  background-image: url('Assets/downLoad.png');
  width: 140px;
  height: 100px;
  margin-left: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(1deg);
  margin-top: 40px;
  /* background-color: green; */
}

.title{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;

  /* height: 250px; */
  margin-top: -400px;
  margin-left: 20px;
  padding-left: 50px;
  transform: rotate(2deg);
  z-index: -1000;
  /* background-color: red; */
}



.BigTitle{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-11deg);
  word-spacing: 7px;
  font-size: 2rem;
  margin-left: 220px;
  margin-top: -250px;
  height: 500px;

}

.titleImg{
  margin-top: -230px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  /* height: 100px; */

}


.armLeft{
  position: absolute;
  left:-5px;
  top: 530px;
  z-index: 1000;
}


.fnc{
  position: relative;
  left: 200px;
  top: 00px;
  z-index: ;
}

.armLeft2 {
  position: absolute;
  left:-8px;
  top: 560px;
  z-index: 1000;
}


.armRight{
  z-index: 1000;
  position: absolute;
  right: 0px;
  top: 430px;
}


.armRight2{
  position: absolute;
  right:-3px;
  top: 2330px;
  z-index: 1000;
}




.SeagulRight1{
  position: absolute;
  right:-3px;
  top: 90px;
  z-index: 1000;
}


.SeagulLeft1{
  position: absolute;
  left:-3px;
  top: 1390px;
  z-index: 1000;
}




.chip1{
  position: absolute;
  left: 250px;
  top: 630px;
  transform: rotate(-25deg);

}

.chip2{
  position: absolute;
  right: 90px;
  top: 450px;
  /* transform: rotate(40deg); */

}


.chip3{
  position: absolute;
  right: -4px;
  top: -20px;
  /* transform: rotate(35deg); */

}

.chip4{
  position: absolute;
  right: 20vw;
  top: 650px;
  /* transform: rotate(75deg); */

}

.chip5{
  position: absolute;
  left: 10vw;
  top: 840px;
  /* transform: rotate(25deg); */

}



.chip6{
  position: absolute;
  left: 30vw;
  top: 810px;
  transform: rotate(15deg);

}


.chip7{
  position: absolute;
  left:65vw;
  top: 730px;
  /* transform: rotate(15deg); */

}


.chip8{
  position: absolute;
  left:55vw;
  top: 930px;
  /* transform: rotate(15deg); */

}

.chip9{
  position: absolute;
  left:75vw;
  top: 930px;
  /* transform: rotate(15deg); */

}


.chip10{
  position: absolute;
  left:85vw;
  top: 890px;
  /* transform: rotate(15deg); */

}


.chip11{
  position: absolute;
  left:60vw;
  top: 1100px;
  transform: rotate(35deg);

}


.chip12{
  position: absolute;
  left:5vw;
  top: 1030px;
  /* transform: rotate(15deg); */

}


.chip13{
  position: absolute;
  left:5vw;
  top: 130px;
  /* transform: rotate(15deg); */

}


.chip14{
  position: absolute;
  left:5vw;
  top: 1330px;
  /* transform: rotate(15deg); */

}

.chip15{
  position: absolute;
  left:10vw;
  top: 1430px;
  /* transform: rotate(15deg); */

}


.chip16{
  position: absolute;
  left:35vw;
  top: 1530px;
  /* transform: rotate(15deg); */

}


.chip17{
  position: absolute;
  left:85vw;
  top: 1670px;
  transform: rotate(-35deg);

}

.chip18{
  position: absolute;
  left:75vw;
  top: 1690px;
  /* transform: rotate(15deg); */

}

.chip19{
  position: absolute;
  left:87vw;
  top: 1890px;
  /* transform: rotate(15deg); */

}


.chip20{
  position: absolute;
  left:67vw;
  top: 2070px;
  /* transform: rotate(15deg); */

}

.chip21{
  position: absolute;
  left:7vw;
  top: 2090px;
  /* transform: rotate(15deg); */

}

.chip22{
  position: absolute;
  right: 260px;
  top: 2560px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  /* transform: rotate(15deg); */

}






/* Lemons */

.lemon1{
  position: absolute;
  left: 15vw;
  top: 360px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(15deg);

}

.lemon2{
  position: absolute;
  right: 15vw;
  top: 560px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: -2000;
  transform: rotate(-15deg);

}


.lemon3{
  position: absolute;
  left: 20vw;
  top: 1260px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(65deg);

}



.lemon4{
  position: absolute;
  right: 17vw;
  top: 1740px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(65deg);

}



.logos{
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

/* Sauce */

.sauce{
  position: absolute;
  left:45vw;
  top: -260px;
  /* transform: rotate(15deg); */

}


.sauce2{
  position: absolute;
  left:-290px;
  top: 160px;
  /* transform: rotate(15deg); */

}

.sauce3{
  position: absolute;
  right:-190px;
  top: 1760px;
  transform: rotate(15deg);
  display: none;
}

.sauce4{
  position: absolute;
  left: 290px;
  top: 2700px;
  /* transform: rotate(15deg); */
}




.text{
  width: 500px;
  height: 700px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  160px;

}

.text h1{
    line-height: 20px;
  font-family: 'BEBAS', sans-serif;
  /* font-style: italic; */
  color: #bb3b2e;
  transform: skew( 0deg, -10deg) rotate(0deg);
  word-spacing: 7px;
  /* background-color: green; */
}

.text p{
font-family: 'Futura';
  /* font-style: italic; */
  color: #bb3b2e;
  transform: skew( 0deg, -10deg) rotate(0deg);
    /* padding-left: 5px; */
    line-height: 19px;
}

.text span{
  font-weight: 900;
}

.text2{
  width: 500px;
  height: 700px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  690px;
  margin-top: 100px;

}

.text2 h1{
  line-height: 20px;
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  /* font-style: italic; */
  color: #bb3b2e;
    transform: skew( 0deg, -10deg) rotate(0deg);

}

.text2 p{
font-family: 'Futura';
/* font-style: italic; */
color: #bb3b2e;
/* transform: rotate(-5deg); */
  transform: skew( 0deg, -10deg) rotate(0deg);
  padding-left: 5px;
}


.map{
  position: relative;

  left: -360px;
  top: -250px;
  z-index: -100;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  margin-top: 100px;





}


.text6{
  /* background-color: red; */
  /* margin-top: -100px; */
  width: 500px;
  height: 100px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;


}

.hereBTN{
  margin-left: 10px;
  margin-top: 20px;
}

.infoButton{
  position: relative;
  top: 130px;
  left: 100px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(-0deg);

}


.infoButton2{
  position: relative;
  top: 130px;
  left: 200px;
  background-image: url("Assets/moreInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(0deg);

}

.SocialIcons
{
max-width: 130px;
/* background-color: red; */
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.SocialIcons a:hover{
  opacity: 0.8;

}


.info{
  max-width: 1200px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;

}


.text3{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  /* margin-left:  690px; */

}

.text3 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);

}




.nav2{
  z-index: 9000;
}


#hamburger{
  position: absolute;
  left: 30px;
  top: 3px;
  /* background-color: red; */
}


#navButtons2{
  width: 100%;
  background-color: #F5F2EF;
  height: 500px;
  position: absolute;
  top: -600px;
  y: 0;
  box-shadow: 5px 10px 50px #888888;

}

.n{

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#CrossB2{
  background-image: url("Assets/cross.png");
  width: 30px;
  height: 30px;
  background-size: 100%;
  position: absolute;
  left: 30px;
  top: 3px;
}

#AboutB2{
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
    height: 65px;
  background-repeat: no-repeat;
}


#EventsB2{
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;

  height: 65px;
  background-repeat: no-repeat;
}

#EmergencyB2{
  background-image: url("Assets/EmergencyButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}


#ResoursesB2{
  background-image: url("Assets/ResourcesButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}


#ContactB2{
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}







@media only screen and (max-width: 1200px){


.info{
  /* background-color: blue; */
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

}


.text{
  margin-left: 50px;

}

.text2{
  margin-left: 500px;

}


.text p, .text2 p{
  width: 400px;
}


.BigTitle{
  margin-left: 50px;
}


.armLeft2{
  width: 470px;
}

}


@media only screen and (max-width: 1070px){

.armRight2{
  position: absolute;
  right: -100px;
}

.waterdrops{
  position: absolute;
  right: 260px;
}

.waterdrop1{
  position: absolute;
  right: 370px;
}

.waterdrop2{
  position: absolute;
  right: 270px;
}




}


@media only screen and (max-width: 950px){

.text2{
  margin-left: 400px;

}

.alarm{
  left: 150px;
}


.poster2{

  margin-bottom: 150px;
  /* height: 1200px; */
  background-color: red;
}

.text{
  height: 900px;
}



.SocialMedia{
  margin-top: -500px;
}
}







@media only screen and (max-width: 940px){


.text2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;
  height: 900px;
}


.text{

  margin-left: auto;
  margin-right: auto;
}




.armRight2{
  position: absolute;
  right: -250px;
  top: 1130px;

}

.waterdrops{
  position: absolute;
  right: 110px;
  top: 1240px;
}

.waterdrop1{
  position: absolute;
  right: 220px;
  top: 1210px;
}

.waterdrop2{
  position: absolute;
  right: 110px;
  top: 1210px;
}


.alarm{
top: 1980px;
}









}






@media only screen and (max-width: 900px){

#nav{
  opacity: 0;

}


.sauce6{
  position: absolute;
  left: -360px;
  top: 1300px;

}



}







@media only screen and (max-width: 920px){


/* .title{
  width: 70%;

  margin-left: auto;
  margin-right: auto;

}

.title img{
  width: 100%;

} */




.chip13{
  width: 80px;
  left: 5px;

}

}





@media only screen and (max-width: 900px){


#nav {
opacity: 0;
}


.text{
  max-width: 900px;
}





.sauce{
position: absolute;
left: -180px;

}




.chip7{
  top: 530px;
  display: none;
}




}



@media only screen and (max-width: 760px){


.sauce2{
  position: absolute;
  width: 400px;
  left: 600px;
  transform: rotate(120deg);
}

.text2{
  /* background-color: blue; */
  height: 1250px;
}





.armRight2{
  position: absolute;
  right: -250px;
  top: 1360px;

}

.waterdrops{
  position: absolute;
  right: 110px;
  top: 1470px;
}

.waterdrop1{
  position: absolute;
  right: 220px;
  top: 1440px;
}

.waterdrop2{
  position: absolute;
  right: 110px;
  top: 1440px;
}

.alarm{
  top: 2230px;

}

.sauce3{

width: 300px;
}

/* .text3{
  margin-top: -600px;
} */

}




@media only screen and (max-width: 730px){

  .text3{

    /* background-color: blue; */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .BigTitle{
    font-family: 'BEBAS', sans-serif;
    font-style: italic;
    color: #bb3b2e;
    transform: rotate(-11deg);
    word-spacing: 7px;
    font-size: 1.5rem;
    margin-left: 70px;
    margin-top: -270px;
    /* height: 500px; */

  }






  .info{
    max-width: 80%;
    /* background-color: green; */
  }


.text{
  /* background-color: red; */
  margin-top: -300px;
}


.chip5{
  width: 90px;
  left: 10px;
}


.chip1{
  top: 500px;
  width: 90px;
  left: 10px;
}


.chip15{
  width: 70px;
  left: 5px;
  top: 1230px;
}


}


@media only screen and (max-width: 700px){
  .BigTitle{
    font-family: 'BEBAS', sans-serif;
    font-style: italic;
    color: #bb3b2e;
    transform: rotate(-11deg);
    word-spacing: 7px;
    font-size: 1.5rem;
    margin-left: 60px;
    margin-top: -270px;
    line-height: 55px;
    /* height: 500px; */

  }
}

@media only screen and (max-width: 600px){

.chip4{
  width: 90px;
  right: 10px;
}

.chip2{
    width: 90px;
    right: 10px;
}

.chip5{
  display: none;
}

}




@media only screen and (max-width: 550px){

.text, .text2{
  /* background-color: green; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}



.poster {
  width: 100%;

}


.poster2{
  width: 100%;

}

}



@media only screen and (max-width: 500px){

  .alarm{
    top: 2530px;
    width: 200px;
  }



.text p, .text2 p{
  width: 90%;

}


.tit3{
  display: none;
}

.tit4{
  display: block;

}

}



@media only screen and (max-width: 430px){

  .titleDiv{

    margin-left: -70px;
  }

  .title{
    padding-top: 50px;
    /* background-color: green; */

    width: 70%;
    margin-left: auto;
    margin-right: auto;

  }

  .title img{
    margin-left: auto;
    margin-right: auto;

    width: 100%;

  }


.alarm{
  top: 3100px;
  left: 90px;
}

.chip13{
  display: none;
}

}


@media only screen and (max-width: 400px){


.chip5{
  top: 890px;
}

.BigTitle{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-11deg);
  word-spacing: 7px;
  font-size: 1.5rem;
  margin-left: 65px;
  margin-top: -270px;
  line-height: 55px;
  /* height: 500px; */

}



}


@media only screen and (max-width: 375px){


.tit1{
  display: block;

}

.tit2{
  display: none;
}

.chip4{
  display: none;
}

}



@media only screen and (max-width: 330px){

}



@media only screen and (max-width: 430px){




.titleDiv{
  /* background-color: green; */
  margin-left: -70px;
}

.title{
  padding-top: 50px;
  /* padding-left: 50px; */

  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.title img{
  margin-left: auto;
  margin-right: auto;

  max-width: 100%;
  /* background-color: blue; */
}


.sauce2{
  display: none;
}



.armRight{
  width: 300px;
  top: 450px;
}




}



@media only screen and (max-width: 400px){
  .info{
    max-width: 100%;
    /* background-color: green; */
  }

  .text, .text2{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 35px;
  }

  .poster, .poster2{
    margin-left: -20px;

  }

}






@media only screen and (min-width: 950px){

  .poster{
    position: relative;
    left: -500px;
    top: -300px;
  }


  .poster2{
    position: relative;
    left: 550px;
    top: -500px;
    /* margin-bottom: 150px; */
    /* height: 1200px; */
    /* background-color: red; */
  }



}
