@font-face {
font-family: 'BEBAS';
src: url(Assets/BEBAS.ttf);

}


@font-face {
font-family: 'Futura';
src: url(Assets/futuraMedium.ttf);

}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

















body{
  margin: 0;
  /* background-color: #FFE402; */
  background-color: #F5F2EF;
  overflow-x: hidden;
/* height: 700px; */
}

#nav{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  margin-top: 200px;
  /* background-color: red; */
}

#nav ul{
  list-style: none;
  margin-top: 80px;
  padding-left: 80px;

}

#nav li{
  display: inline-block;
  width: 18%;
  margin-left: 1%;

}

#nav li:hover{
  opacity: 0.9;
  z-index: 1000;
}

.navIcon{
  position: relative;
  top: 50px;
  background-image: url("Assets/EventInfoClicked.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: red; */
  z-index: 1000;

}

.icon1{
  position: relative;
  top: 50px;
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
    z-index: 1000;
}

.Icontwo{
  position: relative;
  top: -40px;
  background-image: url("Assets/EmergencyButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1000;
}

.Iconthree {
  position: relative;
  top: -20px;
  background-image: url("Assets/ResourcesButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Icon {
  position: relative;
  top: -90px;
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1000;
}


.titleDiv{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  z-index: -200;

}




.title{
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;

  /* height: 250px; */
  margin-top: -400px;
  margin-left: 20px;
  padding-left: 50px;
  transform: rotate(2deg);
  z-index: -1000;
  /* background-color: red; */
}



.BigTitle{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-11deg);
  word-spacing: 7px;
  font-size: 2rem;
  margin-left: 220px;
  margin-top: -400px;
  height: 500px;
  /* transform: skew( 5deg, 2deg) rotate(-20deg); */
}

.titleImg{
  margin-top: -230px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  /* height: 100px; */

}


.armLeft{
  position: absolute;
  left:-3px;
  top: 530px;
  z-index: 1000;
}


.fnc{
  position: relative;
  left: 200px;
  top: 00px;
  z-index: ;
}

.armLeft2 {
  position: absolute;
  left:-3px;
  top: 560px;
  z-index: 1000;
}


.armRight{
  position: absolute;
  right: 0px;
  top: 530px;
}


.armRight2{
  position: absolute;
  right:-3px;
  top: 2330px;
  z-index: 1000;
}




.SeagulRight1{
  position: absolute;
  right:-3px;
  top: 90px;
  z-index: 1000;
}


.SeagulLeft1{
  position: absolute;
  left:-3px;
  top: 1390px;
  z-index: 1000;
}




.chip1{
  position: absolute;
  left: 250px;
  top: 510px;

}

.chip2{
  position: absolute;
  right: 234px;
  top: 710px;
  /* transform: rotate(40deg); */

}


.chip3{
  position: absolute;
  right: -4px;
  top: 100px;
  /* transform: rotate(35deg); */

}

.chip4{
  position: absolute;
  right: 20vw;
  top: 650px;
  /* transform: rotate(75deg); */

}

.chip5{
  position: absolute;
  left: 20vw;
  top: 840px;
  transform: rotate(15deg);

}



.chip6{
  position: absolute;
  left: 30vw;
  top: 810px;
  transform: rotate(15deg);

}


.chip7{
  position: absolute;
  left:65vw;
  top: 730px;
  /* transform: rotate(15deg); */

}


.chip8{
  position: absolute;
  left:55vw;
  top: 930px;
  /* transform: rotate(15deg); */

}

.chip9{
  position: absolute;
  left:75vw;
  top: 930px;
  /* transform: rotate(15deg); */

}


.chip10{
  position: absolute;
  left:85vw;
  top: 890px;
  /* transform: rotate(15deg); */

}


.chip11{
  position: absolute;
  left:80vw;
  top: 1130px;
  /* transform: rotate(15deg); */

}


.chip12{
  position: absolute;
  left:5vw;
  top: 1030px;
  /* transform: rotate(15deg); */

}


.chip13{
  position: absolute;
  left:5vw;
  top: 130px;
  /* transform: rotate(15deg); */

}


.chip14{
  position: absolute;
  left:5vw;
  top: 1330px;
  /* transform: rotate(15deg); */

}

.chip15{
  position: absolute;
  left:10vw;
  top: 1430px;
  /* transform: rotate(15deg); */

}


.chip16{
  position: absolute;
  left:35vw;
  top: 1530px;
  /* transform: rotate(15deg); */

}


.chip17{
  position: absolute;
  left:85vw;
  top: 1630px;
  /* transform: rotate(15deg); */

}

.chip18{
  position: absolute;
  left:75vw;
  top: 1490px;
  /* transform: rotate(15deg); */

}

.chip19{
  position: absolute;
  left:87vw;
  top: 1890px;
  /* transform: rotate(15deg); */

}


.chip20{
  position: absolute;
  left:67vw;
  top: 2070px;
  /* transform: rotate(15deg); */

}

.chip21{
  position: absolute;
  left:7vw;
  top: 2090px;
  /* transform: rotate(15deg); */

}

.chip22{
  position: absolute;
  right: 260px;
  top: 2560px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  /* transform: rotate(15deg); */

}






/* Lemons */

.lemon1{
  position: absolute;
  right: 15vw;
  top: 460px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(55deg);

}

.lemon2{
  position: absolute;
  right: 15vw;
  top: 560px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: -2000;
  transform: rotate(-15deg);

}


.lemon3{
  position: absolute;
  left: 3vw;
  top: 940px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(65deg);

}



.lemon4{
  position: absolute;
  right: 17vw;
  top: 1740px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  transform: rotate(65deg);

}





/* Sauce */

.sauce{
  position: absolute;
  left:45vw;
  top: -260px;
  /* transform: rotate(15deg); */

}


.sauce2{
  position: absolute;
  left:-290px;
  top: 160px;
  /* transform: rotate(15deg); */

}

.sauce3{
  position: absolute;
  left:-160px;
  top: 2460px;
  transform: rotate(45deg);
}

.sauce4{
  position: absolute;
  left: 290px;
  top: 3200px;
  /* transform: rotate(15deg); */
}



.text{
  width: 500px;
  height: 530px;
  margin-top: -200px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  160px;
  line-height: 15px;
  padding-left: 20px;
}

.text h1{
  font-family: 'BEBAS', sans-serif;
padding-left: 5px;
  color: #bb3b2e;
transform: skew( 0deg, -10deg) rotate(0deg);
  word-spacing: 7px;
}

.text p{
  transform: skew( 0deg, -10deg) rotate(0deg);
  padding-left: 5px;
  font-family: 'Futura';
  /* font-style: italic; */
  color: #bb3b2e;
  /* transform: rotate(-10deg); */
  line-height: 19px;
  /* padding-left: 5px; */
}



.text2{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  690px;
  margin-top: -100px;
  line-height: 15px;

}

.text2 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  color: #bb3b2e;
transform: skew( 0deg, -10deg) rotate(0deg);
padding-left: 10px;
}

.text2 p{
  transform: skew( 0deg, -10deg) rotate(0deg);
    padding-left: 5px;
  font-family: 'Futura';
  /* font-style: italic; */
  color: #bb3b2e;
  /* transform: rotate(-10deg); */
  /* padding-left: 5px; */
}

.map{
  position: relative;

  left: -360px;
  top: -250px;
  z-index: -100;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: red;
  margin-top: 100px;





}


.text6{
  /* background-color: red; */
  /* margin-top: -100px; */
  width: 500px;
  height: 100px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;


}

.hereBTN{
  margin-left: 10px;
  margin-top: 20px;
}

.infoButton{
  position: relative;
  top: 130px;
  left: 100px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(-0deg);

}


.infoButton2{
  position: relative;
  top: 130px;
  left: 200px;
  background-image: url("Assets/moreInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(0deg);

}

.SocialIcons
{
max-width: 130px;
/* background-color: red; */
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.SocialIcons a:hover{
  opacity: 0.8;

}


.info{
  max-width: 1200px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;

}


.text3{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  /* margin-left:  690px; */

}

.text3 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);

}



.nav2{
  z-index: 9000;
}


#hamburger{
  position: absolute;
  left: 30px;
  top: 3px;
  /* background-color: red; */
}


#navButtons2{
  width: 100%;
  background-color: #F5F2EF;
  height: 500px;
  position: absolute;
  top: -600px;
  y: 0;
  box-shadow: 5px 10px 50px #888888;

}

.n{

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#CrossB2{
  background-image: url("Assets/cross.png");
  width: 30px;
  height: 30px;
  background-size: 100%;
  position: absolute;
  left: 30px;
  top: 3px;

}

#AboutB2{
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
    height: 65px;
  background-repeat: no-repeat;
}


#EventsB2{
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;

  height: 65px;
  background-repeat: no-repeat;
}

#EmergencyB2{
  background-image: url("Assets/EmergencyButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}


#ResoursesB2{
  background-image: url("Assets/ResourcesButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}


#ContactB2{
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}






@media only screen and (max-width: 1200px){
  .chip12{
    width: 70px;
    left: 5px;

  }



.info{
  /* background-color: blue; */
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

}


.text{
  margin-left: 50px;

}

.text2{
  margin-left: 500px;

}


.text p, .text2 p{
  width: 400px;
}


.BigTitle{
  margin-left: 110px;
}


.chip13{
  top: 580px;
}

}


@media only screen and (max-width: 1070px){



.armRight2{
  position: absolute;
  right: -70px;
}

.waterdrops{
  position: absolute;
  right: 260px;
}

.waterdrop1{
  position: absolute;
  right: 370px;
}

.waterdrop2{
  position: absolute;
  right: 270px;
}




}


@media only screen and (max-width: 950px){

.text2{
  margin-left: 400px;

}

.alarm{
  left: 150px;
}

}







@media only screen and (max-width: 940px){

/*
.text2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;

}


.text{

  margin-left: auto;
  margin-right: auto;
} */




  /* .armRight2{
    position: absolute;
    right: -250px;
    top: 1130px;

  } */










}






@media only screen and (max-width: 900px){

#nav{
  opacity: 0;

}


.chip2{
  right: 50px;
  width: 70px;
}

.sauce6{
  position: absolute;
  left: -360px;
  top: 1300px;

}



}







@media only screen and (max-width: 920px){


/* .title{
  width: 70%;

  margin-left: auto;
  margin-right: auto;

}

.title img{
  width: 100%;

} */






}





@media only screen and (max-width: 900px){


#nav {
opacity: 0;
}


.text{
  max-width: 900px;
}

.chip17, .chip18{
  width: 80px;
}




.sauce{
position: absolute;
left: -180px;






}

.fnc{
  top: 70px;
  left: 120px;

}




}



@media only screen and (max-width: 760px){


.SeagulLeft1{
  top: 1580px;
  left: -50px;
}



.sauce2{
  position: absolute;
  width: 400px;
  left: 600px;
  transform: rotate(120deg);
}

.text2{
  /* background-color: blue; */
  height: 650px;
  margin-left: 70px;
}





.armRight2{
  position: absolute;
  right: -4px;
  width: 300px;

}

.waterdrops{
  position: absolute;
  right: 110px;
  top: 1470px;
}

.waterdrop1{
  position: absolute;
  right: 220px;
  top: 1440px;
}

.waterdrop2{
  position: absolute;
  right: 110px;
  top: 1440px;
}

.alarm{
  top: 2230px;

}

.sauce3{

width: 300px;
}

.text3{
  margin-top: -100px;
  /* background-color: green; */
}

.text6{
  display: none;
}

}




@media only screen and (max-width: 730px){

  .text3{

    /* background-color: blue; */
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .BigTitle{
    font-family: 'BEBAS', sans-serif;
    font-style: italic;
    color: #bb3b2e;
    transform: rotate(-11deg);
    word-spacing: 7px;
    font-size: 1.5rem;
    margin-left: 70px;
    /* margin-left: 60px; */
    /* margin-top: -250px; */
    /* height: 500px; */

  }

  /* .info{
    max-width: 0%;
  }
 */

.fnc{
  top: 10px;
  left: 120px;

}


.chip2{
  right: 10px;
  width: 70px;
  top: 740px;
}


.chip9{
  left: 90vw;
  width: 80px;
}

}




@media only screen and (max-width: 660px){

  .fnc{
    top: -10px;
    left: 120px;
    width: 320px;
  }

.armRight{
  top: 420px;
  width: 300px;
}


.chip13{
  top: 440px;
  left: 5px;
}





.chip4{
  width: 70px;
  right: 60px;


}


.chip21{
  left: 5px;
  width: 70px;

}

}



@media only screen and (max-width: 600px){
.chip2, .chip4{
  display: none;
}


.chip9{
top: 1200px;
}


.chip12{
  left: -25px;
}




}



@media only screen and (max-width: 550px){

.text, .text2{
  /* background-color: green; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}




.text2{
  /* background-color: blue; */
  height: 650px;
  margin-top: 100px;
  /* margin-left: 70px; */
}


.BigTitle{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-11deg);
  word-spacing: 7px;
  font-size: 1.5rem;
  margin-left: 65px;
  /* margin-left: 60px; */
  /* margin-top: -250px; */
  /* height: 500px; */

}


}



@media only screen and (max-width: 500px){

  .alarm{
    top: 2530px;
    width: 200px;
  }

.text{
/* margin-top: 100px; */
}

.text p, .text2 p{
  width: 90%;

}




}



@media only screen and (max-width: 460px){
  .fnc{
    top: -10px;
    left: 120px;
    width: 320px;
  }

.armRight{
  top: 400px;
  width: 250px;
}

.chip12{
  left: -30px;
  top: 1230px;
}

}


@media only screen and (max-width: 430px){

  .SeagulLeft1{
    top: 1630px;
    left: -50px;
  }


  .titleDiv{

    margin-left: -70px;
  }

  .title{
    padding-top: 50px;
    /* background-color: green; */

    width: 70%;
    margin-left: auto;
    margin-right: auto;

  }

  .title img{
    margin-left: auto;
    margin-right: auto;

    width: 100%;

  }


.alarm{
  top: 3100px;
  left: 90px;
}

}


@media only screen and (max-width: 400px){


.text2{
  margin-left: 25px;
}


.chip2{
  width: 70px;
  right: 10px;

}


.chip4{
  width: 70px;
  right: 1px;


}


}


@media only screen and (max-width: 375px){




}





@media only screen and (max-width: 430px){

.BigTitle{
  margin-top: -350px;
}


.titleDiv{
  /* background-color: green; */
  margin-left: -70px;
}

.title{
  padding-top: 50px;
  /* padding-left: 50px; */

  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.title img{
  margin-left: auto;
  margin-right: auto;

  max-width: 100%;
  /* background-color: blue; */
}


.sauce2{
  display: none;
}

.chip15{
  position: absolute;
  top: 1500px;
}






}



@media only screen and (max-width: 400px){
  .info{
    max-width: 95%;
    /* background-color: green; */
  }


.fnc{
  left: 10px;
  top: 10px;

}

}
