@font-face {
font-family: 'BEBAS';
src: url(Assets/BEBAS.ttf);

}


@font-face {
font-family: 'Futura';
src: url(Assets/futuraMedium.ttf);

}




@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1; /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards; /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.fade-in.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}






#bulkItems{
  /* opacity: 0; */
}


#paper1{
  transform: rotate(50deg);
  position: absolute;
  left: -90px;
  top: 200px;
    z-index: 6000;
}

#paper2{
  transform: rotate(160deg);
  position: absolute;
  right: -90px;
  top: 200px;
    z-index: 6000;
}

#paper3{
  transform: rotate(30deg);
  position: absolute;
  right: 20px;
  top: -330px;
  z-index: 6000;
}





#chip1{
  position: absolute;
  left: 45vw;
  top: 40vh;
  z-index: 7000;
}



#chip2{
  position: absolute;
  left: 10vw;
  top: 20vh;
  z-index: 7000;
}


#chip3{
  position: absolute;
  left: 65vw;
  top: 80vh;
  z-index: 7000;
    transform: rotate(50deg);
}


#chip4{
  position: absolute;
  left: 15vw;
  top: 60vh;
  z-index: 7000;
}

#chip5{
  position: absolute;
  left: 35vw;
  top: 10vh;
  z-index: 7000;
    transform: rotate(50deg);
}


#chip6{
  position: absolute;
  left: 45vw;
  top: 10vh;
  z-index: 7000;
    transform: rotate(30deg);
}

#chip7{
  position: absolute;
  left: 15vw;
  top: 10vh;
  z-index: 7000;
    transform: rotate(-30deg);
}

#chip8{
  position: absolute;
  left: 45vw;
  top: 40vh;
  z-index: 7000;
    transform: rotate(-30deg);
}

#chip9{
  position: absolute;
  left: 25vw;
  top: 0vh;
  z-index: 7000;
    transform: rotate(20deg);
}

#chip10{
  position: absolute;
  left: 35vw;
  top: 10vh;
  z-index: 7000;
    transform: rotate(-30deg);
}



#fish1{
  position: absolute;
  left: 55vw;
  top: 40vh;
  z-index: 7000;
    transform: rotate(29deg);
}



#fish2{
  position: absolute;
  left: 25vw;
  top: 35vh;
  z-index: 7000;
    transform: rotate(-10deg);
}


#sauce{
  position: absolute;
  left: 25vw;
  top: 35vh;
  z-index: 7000;
  transform: rotate(40deg);
}


#armLeft1{
  position: absolute;
  left: -5px;
  top: 280px;
  z-index: 7000;
  /* transform: rotate(40deg); */
}

#armLeft2{
  position: absolute;
  left: -5px;
  top: 780px;
  z-index: 7000;
  transform: rotate(-50deg);
}


#armRight1{
  position: absolute;
  right: -5px;
  top: -40px;
  z-index: 7000;
  transform: rotate(-0deg);
}

#armRight2{
  position: absolute;
  right: -5px;
  top: 700px;
  z-index: 7000;
  /* transform: rotate(-0deg); */
}


#armRight3{
  position: absolute;
  right: 650px;
  top: -100px;
  z-index: 7000;
  transform: rotate(-60deg);
}









body{
  margin: 0;
  background-color: #F5F2EF;
  overflow-x: hidden;

/* height: 700px; */
}

#nav{
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  /* background-color: red; */
}

#nav ul{
  list-style: none;
  margin-top: 80px;
  padding-left: 80px;

}

#nav li{
  display: inline-block;
  width: 18%;
  margin-left: 1%;

}

#nav li:hover{
  /* opacity: 0.7; */
}









.navIcon{
  position: relative;
  top: 50px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  /* background-color: red; */
}

.icon1{
  position: relative;
  top: 50px;
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Icontwo{
  position: relative;
  top: -40px;
  background-image: url("Assets/EmergencyButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Icon {
  position: relative;
  top: -90px;
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Iconthree {
  position: relative;
  top: -20px;
  background-image: url("Assets/ResourcesButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
}


.title{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: -240px;
  padding-left: -510px;
}


.titleImg{
  margin-top: -320px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}


.armLeft{
  position: absolute;
  left:-3px;
  top: 530px;
  z-index: 1000;
}



.armLeft2 {
  position: absolute;
  left:-3px;
  top: 1630px;
  z-index: 1000;
}


.armRight{
  position: absolute;
  right: -3px;
  top: 630px;
}


.armRight2{
  position: absolute;
  right:-3px;
  top: 2330px;
  z-index: 1000;
}

.chip1{
  position: absolute;
  left: 250px;
  top: 660px;

}

.chip2{
  position: absolute;
  right: 234px;
  top: 710px;
  /* transform: rotate(40deg); */

}


.chip3{
  position: absolute;
  right: -4px;
  top: 100px;
  /* transform: rotate(35deg); */

}

.chip4{
  position: absolute;
  left: 30vw;
  top: 700px;
  /* transform: rotate(75deg); */

}

.chip5{
  position: absolute;
  left: 20vw;
  top: 840px;
  transform: rotate(15deg);

}



.chip6{
  position: absolute;
  left: 30vw;
  top: 810px;
  transform: rotate(15deg);

}


.chip7{
  position: absolute;
  left:65vw;
  top: 730px;
  /* transform: rotate(15deg); */

}


.chip8{
  position: absolute;
  left:55vw;
  top: 930px;
  /* transform: rotate(15deg); */

}

.chip9{
  position: absolute;
  left:75vw;
  top: 930px;
  /* transform: rotate(15deg); */

}


.chip10{
  position: absolute;
  left:85vw;
  top: 890px;
  /* transform: rotate(15deg); */

}


.chip11{
  position: absolute;
  left:80vw;
  top: 1130px;
  /* transform: rotate(15deg); */

}


.chip12{
  position: absolute;
  left:5vw;
  top: 1030px;
  /* transform: rotate(15deg); */

}


.chip13{
  position: absolute;
  left:5vw;
  top: 130px;
  z-index: -1000;
  /* transform: rotate(15deg); */

}


.chip14{
  position: absolute;
  left:2vw;
  top: 1330px;
  /* transform: rotate(15deg); */

}

.chip15{
  position: absolute;
  left:10vw;
  top: 1430px;
  /* transform: rotate(15deg); */

}


.chip16{
  position: absolute;
  left:35vw;
  top: 1530px;
  /* transform: rotate(15deg); */

}


.chip17{
  position: absolute;
  left:85vw;
  top: 1630px;
  /* transform: rotate(15deg); */

}

.chip18{
  position: absolute;
  left:75vw;
  top: 1690px;
  /* transform: rotate(15deg); */

}

.chip19{
  position: absolute;
  left:87vw;
  top: 1890px;
  /* transform: rotate(15deg); */

}


.chip20{
  position: absolute;
  left:67vw;
  top: 2070px;
  /* transform: rotate(15deg); */

}

.chip21{
  position: absolute;
  left:7vw;
  top: 2090px;
  /* transform: rotate(15deg); */

}

.chip22{
  position: absolute;
  right: 260px;
  top: 2560px;
  /* background-color: red; */
  /* opacity: 0.5; */
  z-index: 2000;
  /* transform: rotate(15deg); */

}












/* Sauce */

.sauce{
  position: absolute;
  left:25vw;
  top: -260px;
  z-index: -2000;
  /* transform: rotate(15deg); */

}


.sauce2{
  position: absolute;
  left:-290px;
  top: 160px;
  /* transform: rotate(15deg); */

}

.sauce3{
  position: absolute;
  right:-190px;
  top: 1260px;
  /* transform: rotate(15deg); */
}

.sauce4{
  position: absolute;
  left: 290px;
  top: 2700px;
  /* transform: rotate(15deg); */
}



.text{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  160px;

}

.text h1{
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);
  word-spacing: 7px;
}

.text p{
font-family: 'Futura';
  /* font-style: italic; */
  color: #bb3b2e;
  transform: skew( -5deg, -5deg) rotate(-5deg);
    padding-left: 5px;
}



.text2{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-left:  690px;

}

.text2 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);

}

.text2 p{
font-family: 'Futura';
/* font-style: italic; */
color: #bb3b2e;
/* transform: rotate(-5deg); */
  transform: skew( -5deg, -5deg) rotate(-5deg);
  padding-left: 5px;
}

.infoButton{
  position: relative;
  top: 20px;
  left: 0px;
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(-0deg);

}


.infoButton2{
  position: relative;
  top: 20px;
  left: 0px;
  background-image: url("Assets/moreInfoButton.png");
  width: 130px;
  height: 100px;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(0deg);

}

.SocialIcons
{
max-width: 130px;
/* background-color: red; */
margin-left: auto;
margin-right: auto;
margin-top: 50px;
}

.info{
  max-width: 1200px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;

}


.text3{
  width: 500px;
  height: 400px;
  /* background-color: red; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  /* margin-left:  690px; */

}

.text3 h1{
  word-spacing: 7px;
  font-family: 'BEBAS', sans-serif;
  font-style: italic;
  color: #bb3b2e;
  transform: rotate(-10deg);

}


svg{
  /* background-color: red; */
  position: absolute;
  top: 5px;
  left: 1px;
}



#hamburger{
  position: absolute;
  left: 30px;
  top: 3px;
  /* background-color: red; */
}


#navButtons2{
  width: 100%;
  background-color: #F5F2EF;
  height: 500px;
  position: absolute;
  top: -600px;
  y: 0;
  box-shadow: 5px 10px 50px #888888;

}

.n{

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


#CrossB2{
  background-image: url("Assets/cross.png");
  width: 30px;
  height: 30px;
  background-size: 100%;
  position: relative;
  top: 20px;

}

#AboutB2{
  background-image: url("Assets/AboutButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
    height: 65px;
  background-repeat: no-repeat;
}


#EventsB2{
  background-image: url("Assets/EventInfoButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;

  height: 65px;
  background-repeat: no-repeat;
}

#EmergencyB2{
  background-image: url("Assets/EmergencyButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}


#ResoursesB2{
  background-image: url("Assets/ResourcesButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}


#ContactB2{
  background-image: url("Assets/ContactButton.png");
  width: 130px;
  margin-left: auto;
  margin-right: auto;

  background-size:100%;
  /* background-color: blue; */
  height: 65px;
  background-repeat: no-repeat;
}



@media only screen and (min-width: 900px) {

  #hamburger{
  display: none;
    background-color: red;
  }


}



@media only screen and (max-width: 1370px) {



.sauce{
  position: absolute;
  left: 2vw;

}

}







@media only screen and (max-width: 1370px) {



.sauce3{
display: none;
}


.chip13{
  position: absolute;
  left: 10px;
  top: 20px;

}

.chip3{
  position: absolute;
  /* left: 10px; */
  top: 160px;

}


.armLeft2{
  width: 500px;
}


.chip12{
  position: absolute;
  top: 600px;
}


.chip14{
  position: absolute;
  top: 1400px;
  display: none;
}



.chip21{
  position: absolute;
  top: 2300px;

}


.text{
  margin-left:60px;
}


.text2{
  margin-left: 570px;
}


}



@media only screen and (max-width: 1110px){

.text{
  /* margin-left: 20px; */

}

.text2{
  margin-left: 500px;
}


}






@media only screen and (max-width: 1030px){
#nav{

}

#nav ul{
padding-left: 10px;
}


.sauce2{
  display: none;
}


.text{
  margin-left: 40px;
}


.text p{

  width: 400px;

}

.text2 p{

  width: 400px;
}


.armLeft2{
  position: absolute;

  top: 1770px;
}


}




@media only screen and (max-width: 940px){


.text2{
  margin-left: auto;
  margin-right: auto;
  margin-top: 350px;

}


.text{

  margin-left: auto;
  margin-right: auto;
}


.sauce4{
  position: absolute;
  top: 2700px;
  display: none;
}



.armRight2{
  width: 300px;
}

.armLeft2{
  width: 300px;
  position: absolute;
  top:
}



.armLeft, .armRight{
  width: 300px;

}


.chip22{
  position: absolute;
  right: 170px;
  top: 2475px;
  width: 70px;
}




}




@media only screen and (max-width: 920px){


.title{
  width: 70%;

  margin-left: auto;
  margin-right: auto;

}

.title img{
  width: 100%;

}


.chip7{
  position: absolute;
  left: 10px;

}

.chip6{
  position: absolute;
  left: 5px;
  top: 1200px;
}


.chip8{
  display: none;

}


.chip2{
  position: absolute;
  right: 160px;
  width: 90px;
  top: 685px;

}


.chip5{
  display: none;

}

.chip16{
  display: none;
}

.armLeft2{
  position: absolute;
  top: 1430px;

}


.chip18{
  position: absolute;
  top: 1500px;

}




}





@media only screen and (max-width: 900px){


#nav {
opacity: 0;
}


.text{
  max-width: 900px;
}



.chip4{
  position: absolute;
  right: 0px;
  top: 1500px;

}

.chip1{
  display: none;
}



.armRight{
  right: -50px;
}


.chip2{
  position: absolute;
  right: 110px;
  width: 90px;
  top: 685px;

}


.chip21{
  left: 1px;
}


.chip20{
  top: 2200px;
}

.armRight2{
  top: 1800px;

}


.chip22{
  top: 1945px;
}

.chip15{
  left: 1px;
}


.sauce{
position: absolute;
left: -180px;

}


}


@media only screen and (max-width: 750px){


.armLeft2{
  position: absolute;

  top: 1300px;
}


.chip4{
  position: absolute;
  top: 1200px;
}


.armRight{
  right: -70px;
  top: 490px;

}

.chip2{
  position: absolute;

  right: 92px;
  top: 545px;
}



.chip7{
  width: 50px;
}

.armLeft{
  top: 430px;

}



.title{
  width: 80%;

  margin-left: auto;
  margin-right: auto;

}

.title img{
  width: 100%;

}

.chip15{
  width: 50px;

}

.chip21{
  top: 2500px;
  transform: rotate(-40deg);
}

.chip3{
  top: 1px;
}

}





@media only screen and (max-width: 645px){


.title{
  width: 95%;

}


.chip9{
  position: absolute;

  width: 50px;
  left: 90vw;
}

.chip7{
  display: none;
}


.chip15{
  top: 1390px;
}

.armLeft2{
  top: 1500px;
}

.armRight2{
  top: 1800px;

}


.chip22{
  top: 1945px;
}
}




@media only screen and (max-width: 580px){

.armLeft2{
  top: 1300px;
}

}




@media only screen and (max-width: 550px){

.text, .text2{
  /* background-color: green; */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.chip12, .chip18{
  display: none;
}


}



@media only screen and (max-width: 500px){

.text{
margin-top: 100px;
}

.text p, .text2 p{
  width: 90%;

}

.fishAndChips{
  width: 400px;
  position: relative;
  top: 50px;
}

.armLeft{
  top: 330px;
}


}



@media only screen and (max-width: 470px){

.armRight{
  top: 400px;

}

.chip2{
top: 455px;


}


.armLeft{
  left: -30px;
}

}


@media only screen and (max-width: 400px){


  .fishAndChips{
    width: 350px;
    position: relative;
    top: 110px;
    left: 30px;
  }

  .text {
    margin-top: 190px;
  }

  .armLeft{
    width: 200px;

  }

  .armRight{
      width: 200px;
  }

  .chip2{
    width: 70px;
    right: 30px;
    top: 425px;
  }
.chip3, .chip13{
  display: none;
}


}


@media only screen and (max-width: 375px){


    .fishAndChips{
      width: 350px;
      position: relative;
      top: 150px;
      left: 0px;
    }

}
